<div #element class="container">
  <div class="card" style="border: 1px solid #24EEA6">
    <div class="card-body p-4">
      <h6 class="align-content-start font-weight-bold">BOOK DETAILS</h6>
    </div>

    <div class="container">
      <div class="book-details">
        <h2 class="book-title">{{ name }}</h2>
        <p class="isbn"><strong>ISBN:</strong> {{ isbn }}</p>
        <p class="author"><strong>Author:</strong> {{ first_name }} {{ last_name }}</p>
      </div>
    </div>
  </div>
</div>
