<aside class="sidebar">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="profile-details text-center pb-4">
      <img src="assets/logoo.png" alt="" width="100" style="border-radius: 100px">
      <p class="mb-0 text-uppercase mt-2 font-weight-bold"><b>E-LIBRARY</b></p>
      <p class="mb-0 text-uppercase mt-2 font-weight-bold" style="font-size: 10px">LET'S SHARPEN-UP YOUR KNOWLEDGE HERE</p>

    </div>
  </div>

  <nav class="sidebar-menu pt-3 pb-3">
    <ul class="menu-items">
      <li title="BOOKS">
        <a routerLink="/all-books" routerLinkActive="active">
          <span>BOOKS</span>
        </a>
      </li>
      <li title="CREATE BOOKS">
        <a routerLink="/create-books" routerLinkActive="active">
          <span>CREATE BOOKS</span>
        </a>
      </li>
      <li title="AUTHORS">
        <a routerLink="/all-authors" routerLinkActive="active">
          <span>AUTHORS</span>
        </a>
      </li>
      <li title="CREATE AUTHORS">
        <a routerLink="/create-authors" routerLinkActive="active">
          <span>CREATE AUTHORS</span>
        </a>
      </li>
      <li title="ABOUT">
        <a routerLink="/about" routerLinkActive="active">
          <i class="fa fa-exclamation-circle dashicon"></i>
          <span>ABOUT</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
