/* Navbar Styles (if needed) */
app-navbar {
  /* Add any styles you need for your navbar here */
}

/* Main Container Styles */
main {
  display: flex;
}

/* Sidebar Styles */
app-sidebar {
  width: 250px; /* Adjust the sidebar width as needed */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Pages Content Styles */
.pages {
  flex: 1; /* Allow the content to grow and take remaining space */
  padding: 20px; /* Adjust padding as needed */
}


/* Table style */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table header style */
.table th {
  background-color: #24EEA6;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* Table row style */
.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #d9f2e6;
}

/* Table cell padding and text alignment */
.table td {
  padding: 10px;
  text-align: left;
}


/* Custom button style */
.custom-view-button {
  background-color: #24EEA6; /* Your desired background color */
  color: white; /* Text color */
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.custom-view-button:hover {
  background-color: #1cbd88; /* Hover color */
}
