/* view-book.component.scss */

.container {
  margin-top: 20px;
}

.card {
  background-color: #f5f5f5;
}

.book-details {
  padding: 20px;
}

.book-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.isbn, .author {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.author {
  font-weight: bold;
}




/* Custom input style */
.custom-input-style {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

/* Error message style */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Custom select style */
.custom-select-style {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

/* Custom button style */
.custom-ok-save-btn-style {
  background-color: #24EEA6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

.custom-ok-save-btn-style:hover {
  background-color: #1cbd88;
}

